.columns-wrapper {
  padding: 8px 20px;
  max-width: var(--default-max-width);
  margin: auto;
}

.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
  width: 600px;
  height: 400px;
}

@media (min-width: 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    padding: 40px;
    order: unset;
  }
}
