.columns-wrapper {
  padding: 8px 20px;
  max-width: var(--default-max-width);
  margin: auto;
}

.columns > div {
  display: flex;
  flex-direction: column;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}


.columns > .columns-right {
  justify-content: right;
}

.columns > div > .columns-img-col img {
  display: block;
  width: 600px;
  height: 400px;
}

.columns-container[data-image-style="portrait"] .columns > div > .columns-img-col img {
  width: 200px;
  height: 300px;
  object-fit: cover;
}

@media (max-width: 600px) {
  .columns > div {
    justify-content: center;
    text-align: center;
  }

  .columns > div > .columns-img-col {
    margin: auto;
  }
}

@media (min-width: 600px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    padding: 4px;
    order: unset;
  }
}
