#nav {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  row-gap: 40px;

  color: #777;
}

#nav a {
  text-decoration: none;
  color: #777;
}

#nav .nav-brand {
  font-size: 28px;
}

#nav div {
  margin: auto 0;
}

#nav div:nth-child(1) {
  flex-grow: 1;
}

#nav div:nth-child(2),div:nth-child(3) {
  min-width: 260px;
  padding: 0 0 0 14px;
  border-style: solid;
  border-width: 0px 0px 0px 1px;
  border-color: #DDE4E6;
}

#nav div:nth-child(4) {
  flex-basis: 100%;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: #DDE4E6;
}

#nav div > p:nth-child(2) {
  font-weight: 600;
  color: #333;
}

#nav p {
  margin: auto 0;
  font-size: 14px;
}

#nav ul {
  list-style: none;
}

#nav li {
  float: left;
  margin: 0px 14px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  font-style: normal;
  line-height: 1.73em;
  letter-spacing: 1px;
  color: #1B1B1B;
}

.nav-drop ul {
  display: none;
}

#nav svg {
  fill: #777;
}