/* general nav */

#nav {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  max-width: var(--default-max-width);
  margin: 20px auto;
  padding: 20px;
  row-gap: 20px;
  color: #777;
}

@media screen and (max-width:600px) {
  #nav {
    justify-content: left;
  }
}

#nav[aria-expanded="true"] {
  overflow-y: auto;
  min-height: 100vh;
  flex-flow: column;
}

#nav div {
  margin: auto 0;
}

/* brand logo */

#nav .nav-brand {
  font-size: 28px;
  flex-grow: 1;
}

@media screen and (max-width:900px) {
  #nav .nav-brand {
    flex-basis: 100%;
  }
}

@media screen and (max-width:600px) {
  #nav .nav-brand {
    flex-basis: 100%;
    font-size: 24px;
  }

  #nav .anymotion-logo a {
    width: 100%;
    display: block;
    text-align: center;
  }
}

#nav[aria-expanded="true"] .nav-brand {
  display: none;
  visibility: hidden;
}

/* contact info */

#nav div.nav-address, div.nav-contact {
  padding: 0 14px 0 14px;
  border-style: solid;
  border-width: 0px 0px 0px 1px;
  border-color: var(--border-color);

  display: grid;
  grid-template-columns: 24px auto;
  column-gap: 10px;
}

#nav div.nav-contact a {
  color: #777;
}

@media screen and (max-width:900px) {
  #nav div.nav-address, div.nav-contact {
    border-width: 0;
    flex-grow: 1;
  }
}

@media screen and (max-width:600px) {
  #nav div.nav-address, div.nav-contact {
    display: block;
    width: 100%;
    text-align: center;
  }
}

#nav[aria-expanded="true"] div.nav-address, 
#nav[aria-expanded="true"] div.nav-contact {
  display: none;
  visibility: hidden;
}

/* contact info logo positioning */

#nav div.nav-address > p:nth-child(1), div.nav-contact > p:nth-child(1) {
  grid-column: 1;
  grid-row: 1 / 3;
}

#nav div.nav-address > p:nth-child(2), div.nav-contact > p:nth-child(2) {
  font-weight: 600;
  color: var(--text-color-bold);
}

/* main nav */

#nav .nav-sections {
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: var(--border-color);
  flex-basis: 100%;
}

#nav[aria-expanded="true"] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
  flex-grow: 1;
}

#nav p {
  margin: auto 0;
  font-size: 14px;
}

#nav .nav-sections ul {
  display: flex;
  align-items: baseline;
  list-style: none;
  padding: 0;
}

@media screen and (max-width:600px) {
  #nav .nav-sections {
    display: none;
    visibility: hidden;
  }

  #nav .nav-sections ul {
    display: flex;
    flex-flow: column;
  }
}

#nav .nav-sections ul li {
  margin: 0px 14px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  font-style: normal;
  line-height: 1.73em;
  letter-spacing: 1px;
  color: var(--text-color-bold);
}

#nav .nav-sections li.nav-drop {
  position: relative;
  cursor: pointer;
}

#nav .nav-sections .nav-drop ul {
  display: none;
  visibility: hidden;
}

@media screen and (min-width:600px) {
  #nav .nav-sections .nav-drop ul {
    position: absolute;
    left: -1em;
    background-color: #F3F7F8;
    padding: 10px 0;
  }

  #nav .nav-sections .nav-drop li {
    margin-top: 4px;
  }

  #nav .nav-sections .nav-drop::after {
    content: '';
    display: inline-block;
    transform: rotate(135deg);
    position: relative;
    top: -0.2em;
    right: -2px;
    width: 6px;
    height: 6px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
  }
}

#nav .nav-sections .nav-drop[aria-expanded="true"]::after {
  top: unset;
  transform: rotate(315deg);
}

#nav .nav-sections .nav-drop[aria-expanded="true"] ul {
  display: block;
  visibility: visible;
}

/* hamburger */
nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  color: var(--icon-color);
  background-color: var(--background-color);
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

nav .nav-hamburger-icon,
nav .nav-hamburger-icon::before,
nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

nav .nav-hamburger-icon::before,
nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

nav[aria-expanded="false"] .nav-hamburger-icon,
nav[aria-expanded="false"] .nav-hamburger-icon::before,
nav[aria-expanded="false"] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

nav[aria-expanded="false"] .nav-hamburger-icon::before {
  top: -6px;
}

nav[aria-expanded="false"] .nav-hamburger-icon::after {
  top: 6px;
}

nav[aria-expanded="true"] .nav-hamburger-icon {
  height: 22px;
}

nav[aria-expanded="true"] .nav-hamburger-icon::before,
nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (min-width: 600px) {
  nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}