/* block specific CSS goes here */
main .hero {
  position: relative;
}

main .hero h1 {
  color: white;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 20%;
  padding: 8px 0;
  background-color: rgba(0 0 0 / 40%);
}

main .hero picture {
  position: relative;
  height: 100%;
  display: block;
  z-index: -1;
  top: 6px;
}

main .hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
