footer .footer {
  max-width: 1200px;
  margin: auto;
  height: 80px;
}

footer .footer > div {
  margin: 40px auto;
  text-align: center;
}

footer .footer p {
  margin: auto;
  text-align: center;
}
