:root {
  --text-color: #1B1B1B;
  --text-color-bold: #1B1B1B;
  --border-color: #DDE4E6;
  --icon-color: #FE2B6B;
  --background-color: white;
  --default-max-width: 1200px;
}

/* latin */
@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
}

header {
  height: 158px;
}

@media screen and (max-width:900px) {
  header {
    height: 222px;
  }
}

@media screen and (max-width:600px) {
  header {
    height: 330px;
  }
}

body {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.6;
  font-family: Poppins, Arial, sans-serif;
  letter-spacing: 0;
  text-align: left;
  color: var(--text-color);
  margin: 0;
  display:none;
}

body.appear {
  display: unset;
}

div.highlight {
  background-color: #F0F4F5;
}

h1, h2 {
  margin: 12px 0;
}

h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2em;
}

h2 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2em;
}

@media screen and (max-width:600px) {
  h1 {
    font-size: 28px;
  }
  
  h2 {
    font-size: 24px;
  }
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

span.icon svg {
  fill: var(--icon-color);
  width: 24px;
  height: 24px;
}

.default-content-wrapper {
  padding: 20px;
  max-width: var(--default-max-width);
  margin: auto;
}